<h1>Technologies</h1>
<mat-card appearance="outlined">
  <mat-card-content class="tech-card-content">
    @for (item of data(); track $index) {
    <div class="tech-section">
      <h4>{{ item.name }}</h4>
      <div class="icon-cards-container">
        @for (tech of item.items; track $index) {
        <mat-card appearance="outlined" class="icon-card">
          <mat-card-content class="icon-card-content">
            <i class="devicon-large devicon-{{ tech.icon }} colored"></i>
            <span>{{ tech.name }}</span>
          </mat-card-content>
        </mat-card>
        }
      </div>
    </div>
    }
  </mat-card-content>
</mat-card>
