.contact-card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .sub-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    .contact-link {
      color: inherit;
    }
  }
}
