<div class="last-section">
  <h1>Contacts</h1>
  <mat-card appearance="outlined">
    <mat-card-content class="contact-card-content">
      @for (item of data; track $index) {
      <div
        class="sub-heading"
        (mouseover)="hoveredIndex = $index"
        (mouseleave)="hoveredIndex = null"
      >
        <i class="devicon-medium devicon-{{ item.icon }} colored"></i>
        <span class="semi-bold">{{ item.name }}</span>
        @if (hoveredIndex === $index) {
        <mat-chip-set aria-label="Link" [@fadeInOut]>
          <mat-chip>
            <a [href]="item.link" target="_blank" class="contact-link">
              {{ item.link }}
              <mat-icon>open_in_new</mat-icon>
            </a>
          </mat-chip>
        </mat-chip-set>
        }
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
