.about-card-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .top-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    .avatar-img {
      width: 240px;
      height: 240px;
      border-radius: 100%;
      border: 2px solid;
    }
    .info-container {
      .name-box {
        height: 124px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .my-name {
          font-size: 3em;
        }
        .my-position {
          font-size: 1.1em;
        }
      }
      .info-box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 16px;
        .info-item {
          display: flex;
          flex-direction: row;
          gap: 16px;
          .item-value {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }
        }
      }
    }
  }
  .certificates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    .certificate-item {
      cursor: pointer;
      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .img-box {
          width: 100px;
          height: 75px;
          position: relative;
        }
      }
    }
  }
}
