<h1>About</h1>
<mat-card appearance="outlined" class="about-card">
  <mat-card-content class="about-card-content">
    <div class="top-box">
      <img
        src="assets/images/avatar.jpg"
        alt="Avatar picture"
        class="avatar-img"
      />
      <div class="info-container">
        <div class="name-box">
          <span class="semi-bold my-name">{{ data().fullName }}</span>
          <span class="my-position">{{ data().profession }}</span>
        </div>
        <div class="info-box">
          <div class="info-item">
            <mat-icon>email</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="item-value">{{ data().email }}</div>
          </div>
          <div class="info-item">
            <mat-icon>phone</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="item-value">{{ data().phone }}</div>
          </div>
          <div class="info-item">
            <mat-icon>pin_drop</mat-icon>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="item-value">
              @for (address of data().addresses; track $index) {
              <span>{{ address }}</span>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <span>{{ data().summary }}</span>
    @if (data().certificates?.length) {
    <mat-card appearance="outlined">
      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>workspace_premium</mat-icon>
            </mat-panel-title>
            <mat-panel-description>View certificates</mat-panel-description>
          </mat-expansion-panel-header>
          <div class="certificates">
            @for (certificate of data().certificates; track $index) {
            <mat-card
              appearance="outlined"
              class="certificate-item"
              (click)="openCertificate(certificate.image)"
            >
              <mat-card-content class="certificate-item-content">
                <div class="img-box">
                  <img
                    [ngSrc]="'assets/images/certificates/' + certificate.image"
                    [alt]="certificate.name"
                    fill="contain"
                  />
                </div>
                <span>{{ certificate.name }}</span>
              </mat-card-content>
            </mat-card>
            }
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    }
  </mat-card-content>
</mat-card>
