<h1>Interests</h1>
<mat-card appearance="outlined">
  <mat-card-content class="int-card-content">
    @for (item of data; track $index) {
    <div class="info-container">
      <div class="sub-heading">
        <div class="label-box">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="semi-bold">{{ item.name }}</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="value-box">
          <span>{{ item.humorousDescription }}</span>
          <small>{{ item.description }}</small>
        </div>
      </div>
    </div>
    @if ($index < data.length - 1) {
    <mat-divider></mat-divider>
    } }
  </mat-card-content>
</mat-card>
