<h1>About</h1>
<mat-card appearance="outlined">
  <mat-card-content class="about-card-content">
    <img
      src="assets/images/avatar.jpg"
      alt="Avatar picture"
      class="avatar-img"
    />
    <div class="description">
      <h3>Sos Sargsyan</h3>
      <p>
        Experienced and results-oriented Full-Stack Software Engineer with over
        8 years of experience in designing, developing, and maintaining
        enterprise-level applications. Skilled in both front-end and back-end
        development, adept at implementing and optimizing scalable solutions.
        Proven ability to lead cross-functional teams and deliver high-quality
        software projects on time. Extensive experience in developing web
        applications for clients in the USA, EU, Australia and Armenia.
      </p>
    </div>
  </mat-card-content>
</mat-card>
