<h1>Languages</h1>
<mat-card appearance="outlined">
  <mat-card-content class="lang-card-content">
    @for (item of data; track $index) {
    <div class="info-container">
      <div class="sub-heading">
        <div class="label-box">
          <span>{{ item.name }}</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="semi-bold">{{ item.level }}</span>
      </div>
    </div>
    @if ($index < data.length - 1) {
    <mat-divider></mat-divider>
    } }
  </mat-card-content>
</mat-card>
