<mat-toolbar class="main-header">
  <div class="left-side">
    <button mat-icon-button aria-label="Menu button" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ resumeData.title }}</span>
  </div>
  <div class="middle-side"></div>
  <div class="right-side">
    <button
      mat-icon-button
      (click)="toggleTheme()"
      matTooltip="Switch theme"
      aria-label="Switch theme button"
    >
      @if (isDarkMode) {
      <mat-icon>light_mode</mat-icon>
      } @else {
      <mat-icon>dark_mode</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
<mat-divider></mat-divider>
<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-sidenav" mode="side" opened="true">
    <app-side-menu></app-side-menu>
    <span>Version: {{ appVersion }}</span>
  </mat-drawer>
  <div class="main-sidenav-content">
    <div class="main-content">
      @if (loading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      } @else {
      <app-about id="about" [data]="resumeData.about"></app-about>
      <app-technologies
        id="technologies"
        [data]="resumeData.technologies"
      ></app-technologies>
      <app-experience
        id="experience"
        [data]="resumeData.experience"
      ></app-experience>
      <app-education
        id="education"
        [data]="resumeData.education"
      ></app-education>
      <app-languages
        id="languages"
        [data]="resumeData.languages"
      ></app-languages>
      <app-interests
        id="interests"
        [data]="resumeData.interests"
      ></app-interests>
      <app-connect id="connect" [data]="resumeData.connect"></app-connect>
      }
    </div>
  </div>
</mat-drawer-container>
