.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    display: flex;
    align-items: center;
    gap: 8px;
    .app-title {
      font-weight: 500;
      line-height: normal;
    }
  }
  .right-side {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.main-container {
  height: calc(100% - 65px);
  .main-sidenav {
    padding: 8px 16px;
  }
  .main-sidenav-content {
    display: flex;
    height: 100%;
    .main-content {
      padding: 0 24px 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: fit-content;
      border-left: 1px solid #c4c6d0;
    }
  }
}
