<h1>Education</h1>
<mat-card appearance="outlined">
  <mat-card-content class="edu-card-content">
    @for (item of data(); track $index) {
    <div class="info-container">
      <div class="heading-box">
        <h3>{{ item.school }}</h3>
        <span>{{ item.startDate }} - {{ item.endDate }}</span>
      </div>
      <div class="sub-heading">
        <div class="label-box">
          <span>Major</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="semi-bold">{{ item.major }}</span>
      </div>
      <div class="sub-heading">
        <div class="label-box">
          <span>Degree</span>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <span class="semi-bold">{{ item.degree }}</span>
      </div>
    </div>
    @if (!$last) {
    <mat-divider></mat-divider>
    } }
  </mat-card-content>
</mat-card>
