/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .semi-bold {
    font-weight: 500;
  }
  .devicon {
    font-size: 6rem;
  }
  // Apply the dark theme by default
  @include mat.all-component-themes($dark-theme);
  .main-header {
    background-color: #810081;
  }

  // Apply the light theme only when the user prefers light themes.
  .light-theme {
    @include mat.all-component-colors($light-theme);
    .main-header {
      background-color: #d7e3ff;
    }
  }
}
