/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$magenta-palette,
    ),
  )
);

// Define a light theme
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  .semi-bold {
    font-weight: 500;
  }
  .devicon {
    &-medium {
      font-size: 3rem;
    }
    &-large {
      font-size: 6rem;
    }
  }
  .last-section {
    height: calc(100vh - 110px);
  }
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // Apply the dark theme by default
  @include mat.all-component-themes($dark-theme);
  .main-header {
    background-color: #810081;
  }
  .about-card {
    background-image: linear-gradient(
      to bottom,
      #554151 0,
      #554151 140px,
      transparent 140px,
      transparent 100%
    );
  }

  // Apply the light theme only when the user prefers light themes.
  .light-theme {
    @include mat.all-component-colors($light-theme);
    .main-header {
      background-color: #d7e3ff;
    }
    .about-card {
      background-image: linear-gradient(
        to bottom,
        #dae2f9 0,
        #dae2f9 140px,
        transparent 140px,
        transparent 100%
      );
    }
  }
}
